*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}
@font-face {
    font-family: "harabara";
    src: url(../resources/fonts/harabara_mais/Harabara\ Mais\ Demo.otf);
}
:root{
    --background-color: #00000a;
    --text-color-white: #f5f5f5;
}
body{
    background-color: var(--background-color);
    color: var(--text-color-white);
    display: grid;
    grid-template-areas: "header"
                         "main"
                         "footer";
    grid-template-rows: 4rem auto 4rem;
    height: 100vh;
}
.main-login{
    background-color: rgba(127, 255, 212, 0);
    padding: 2rem;
    width: 100vw;
    min-height: 100vh;
}
.explanation{
    background-color: blue;
    height: 100%;
}
.title{
    padding: 2rem;
    background-color: aquamarine;
}
.explanation-p{
    padding: 2rem;
    background-color: rgb(193, 127, 255);
}